          <!-- problem -->
          <div class="position-relative w-lg-50 position-lg-fixed undefined" id="gridNav">
            <div class="row h-lg-100vh">
              <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="about">
                <div class="bg-holder" style="background-image:url(../assets/img/navigation/about.jpg);"></div>
                <!--/.bg-holder-->
                <div class="sidebar-item">
                  <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/favorites.svg" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">About Us</h2>
                </div>
              </div>
              <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="service">
                <div class="bg-holder" style="background-image:url(../assets/img/navigation/service.jpg);"></div>
                <!--/.bg-holder-->
                <div class="sidebar-item">
                  <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/suitcase.svg" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Services</h2>
                </div>
              </div>
              <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="portfolio">
                <div class="bg-holder" style="background-image:url(../assets/img/navigation/portfolio.jpg);"></div>
                <!--/.bg-holder-->
                <div class="sidebar-item">
                  <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/heart.svg" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Portfolio</h2>
                </div>
              </div>
              <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="gallery">
                <div class="bg-holder" style="background-image:url(../assets/img/navigation/gallery.jpg);"></div>
                <!--/.bg-holder-->
                <div class="sidebar-item">
                  <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/image.svg" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Gallery</h2>
                </div>
              </div>
              <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="faq">
                <div class="bg-holder" style="background-image:url(assets/img/navigation/faq.jpg);"></div>
                <!--/.bg-holder-->
                <div class="sidebar-item">
                  <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/computer.svg" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Faq</h2>
                </div>
              </div>
              <div class="col-6 col-sm-4 minh-25vh h-lg-50vh sidebar-item-wrapper py-5" data-content="contact">
                <div class="bg-holder" style="background-image:url(assets/img/navigation/contact.jpg);"></div>
                <!--/.bg-holder-->
                <div class="sidebar-item">
                  <img class="mb-1 mb-lg-3 nav-icon" src="assets/img/lineicons/placeholder.svg" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">Contact</h2>
                </div>
              </div>
            </div>
          </div>

<router-outlet></router-outlet>
